main
{
    height: 100vh;
}

#textbox
{
    background-color: #2d3139;
    border: none;
    color: #fff0ff;
    resize: none;
}

#textbox:focus
{
    border: none;
    outline: 1px solid #0fd69a;
}

.fixed-width {
    flex: 0 0 100%;
    max-width: 50%;
    min-width: 50%;
}

.h-80
{
    height: 80% !important;
}