@model CourseUploadViewModel

@{
    Layout = "_CourseFormLayout";
    var courseTypes = ViewBag.CourseTypes as List<CourseTypeViewModel>;
    var tags = ViewBag.Tags as List<TagViewModel>;
}

<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <div class="row w-100 h-100 mt-3">
        <div class="col h-100">
            <div class="card h-90" data-bs-theme="dark">
                <div class="card-header secondary-color fw-bold">
                    Form
                </div>
                <div class="card-body">
                    <form method="post" class="h-100 d-flex justify-content-center" asp-controller="Course" asp-action="Upload">
                        <div class="w-75">
                            <div class="input-group" data-bs-theme="dark">
                                <span class="input-group-text" id="basic-addon1">Title</span>
                                <input type="text" class="form-control shadow-none" placeholder="Write your course title here..." asp-for="CourseTitle">
                            </div>
                            <span asp-validation-for="CourseTitle" class="text-danger"></span>
                            <select class="form-select my-3" aria-label="Default select example" asp-for="IdCourseType">
                                <option value="" selected disabled="disabled">Select course type</option>
                                @foreach (var c in courseTypes)
                                {
                                    <option value="@c.IdCourseType">@c.CourseTypeTitle</option>
                                }
                            </select>
                            <span asp-validation-for="IdCourseType" class="text-danger"></span>
                            <textarea asp-for="CourseContent" id="textbox" class="p-3 w-100 h-75 form-control shadow-none" placeholder="Write your content here..."></textarea>
                            <span asp-validation-for="CourseContent" class="text-danger"></span>
                            <div class="mt-3">
                                <button type="reset" class="btn btn-outline-danger">Clear</button>
                                <button type="submit" class="btn btn btn-outline-info ms-3">Submit</button>
                            </div>
                        </div>
                        <div class="dropdown ms-5" data-bs-theme="dark">
                            <button class="btn secondary-color-background dropdown-toggle text-black" type="button" data-bs-toggle="dropdown">
                                Choose Tags
                            </button>
                            <ul class="dropdown-menu h-50 overflow-y-auto">
                                @foreach (var tag in tags)
                                {
                                    <div class="dropdown-item">
                                        <input class="form-check-input ms-3" type="checkbox" name="Tags" value="@tag.IdTag" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            @tag.TagTitle
                                        </label>
                                    </div>
                                }
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col h-100">
            <div class="card h-90" data-bs-theme="dark">
                <div class="card-header secondary-color fw-bold">
                    Live Preview
                </div>
                <div class="card-body overflow-auto">
                    <div id="resultdiv" class="p-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>