@model ViewCourseViewModel

@{
    Layout = "_UserLayout";
}

@* TODO: Add markdown support *@

<div class="container navbar-nav mt-5">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Course" asp-action="Learning"><i class="fa-solid fa-arrow-left"></i> Return to learning</a>
    </li>
</div>

<div class="container p-0">
    <h1 class="fw-bold">
        @Model.Course.CourseTitle
    </h1>
    <div class="mb-5 fs-4">
        Made by: <span class="secondary-color">@Model.User.Username</span>
    </div>
    <p>
        @Model.Course.CourseContent
    </p>
</div>