*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    color: #fff;
    background-size: cover;
    background-color: rgb(35 39 47);
}

.hljs
{
    font-family: 'Source Code Pro', sans-serif;
    line-height: 24px;
    font-size: 13.6px;
    text-wrap: wrap;
    background-color: #2d3139;
}

.primary-color
{
    background-color: rgb(35 39 47) !important;
}

.secondary-color
{
    color: #0fd69a !important;
}

.secondary-color-background
{
    background-color: #0fd69a !important;
}

/* ======================= */
/* Custom Scrollbar styles */
/* ======================= */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #0fd69a, #0bb978, #09895b);
}

/* ======================= */
/* === MARKDOWN styles === */
/* ======================= */

#resultdiv
{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
}

#resultdiv h1
{
    border-bottom: 1px solid #fff0ff;
}

#resultdiv ul, #resultdiv ol {
    margin-left: 20px;
}

#resultdiv ul ul, #resultdiv ul ol, #resultdiv ol ul, #resultdiv ol ol {
    margin-left: 20px;
}

#resultdiv li {
    line-height: 0.7;
}