.navbar
{
    background-color: rgb(35 39 47) !important;
}

.navbar-nav .nav-item .nav-link
{
    color: #fff0ff !important;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #0fd69a !important;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 5px !important;
}

.version
{
    color: rgb(153 161 179);
}

.secondary-color
{
    color: #0fd69a;
}

.secondary-sector-body
{
    background: conic-gradient(from 90deg at -10% 100%,#2b303b 0deg,#2b303b 90deg,#16181d 1turn) fixed;
}

/* home section */

.header-custom
{
    font-size: 92px;
}

/* custom section styles */
.mt-custom
{
    margin-top: 6rem;
}

.mb-custom
{
    margin-bottom: 8rem;
}

.section-header-max-width
{
    max-width: 36rem;
}

.section-paragraph-max-width
{
    max-width: 48rem;
}

.section-paragraph-fs
{
    font-size: 20px;
}

.fs-custom-01
{
    font-size: 52px;
}

.fs-custom-02
{
    font-size: 32px;
}

.section-button
{
    border-radius: 25px 25px 25px 25px;
    background-color: #0fd69a;
    padding: 20px 80px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.section-button:hover
{
    outline: 2px solid #0fd69a;
    outline-offset: 2px;
}

.section-button-02
{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #fff0ff;
    padding: 20px 80px;
    text-decoration: none;
    color: #fff0ff;
    font-weight: bold;
}

.section-button-02:hover 
{
    background-color: rgba(236, 236, 236, 0.1);
}

/* Footer styles */
.footer-white-a
{
    color: #fff0ff !important;
    text-decoration: none !important;
}

.footer-white-icon-a
{
    color: #fff0ff !important;
    text-decoration: none !important;
}

.footer-white-a:hover
{
    color: #0fd69a !important;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 5px !important;
}

.footer-white-icon-a:hover
{
    color: #0fd69a !important;
}

.copyright
{
    font-size: 12px;
}

/* Code */
.code
{
    width: 35%;
}