*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    color: #fff;
    background-size: cover;
    background-color: rgb(35 39 47);
}

.hljs
{
    font-family: 'Source Code Pro', sans-serif;
    line-height: 24px;
    font-size: 13.6px;
    text-wrap: wrap;
    background: none;
}